<template component="CounterComponent" data-id data-value>
  <p>Counter {{ id }}</p>
  <div class="counter-status">
    <app-counter-value data-value="{{ value }}"></app-counter-value>
    <app-counter-colour></app-counter-colour>
  </div>
  <div class="counter-buttons">
    <button
      class="add-button"
      type="button"
      name="add-button"
      _click="Counter.add({ &quot;increment&quot;: 1 })"
    >
      {{ button.add }}
    </button>
    <button
      class="subtract-button"
      type="button"
      name="subtract-button"
      _click="Counter.subtract({ &quot;decrement&quot;: 1 })"
    >
      {{ button.subtract }}
    </button>
    <button
      class="reset-button"
      type="button"
      name="reset-button"
      _click="Counter.reset({ &quot;value&quot;: 0 })"
    >
      {{ button.reset }}
    </button>
  </div>
  <app-button _click="Button.fetch()"></app-button>
</template>
