<template component="CounterComponent" data-counter data-buttons>
  <p>Counter {{ counter.id }}</p>
  <div class="counter-status">
    <app-counter-value data-value="{{ counter.value }}"></app-counter-value>
    <app-counter-colour></app-counter-colour>
  </div>
  <div class="counter-buttons">
    <button
      class="add-button"
      type="button"
      name="add-button"
      _click='Counter.add({ "increment": 1 })'
    >
      {{ buttons.add }}
    </button>
    <button
      class="subtract-button"
      type="button"
      name="subtract-button"
      _click='Counter.subtract({ "decrement": 1 })'
    >
      {{ buttons.subtract }}
    </button>
    <button
      class="reset-button"
      type="button"
      name="reset-button"
      _click='Counter.reset({ "value": 0 })'
    >
      {{ buttons.reset }}
    </button>
  </div>
  <app-button _click="Button.fetch()"></app-button>
  <a routePath="/counters/{{ counter.id }}">Link to counter {{ counter.id }}</a>
</template>
